body {
  margin: 0;
}

.errormsg, .successmsg {
  margin-top: 0;
  font-weight: 600;
}

.errormsg {
  color: red;
}

.successmsg {
  color: green;
}

.main--flex {
  min-height: 100vh;
  max-height: fit-content;
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #eef2f4;
  font-family: "Epilogue";
}

.side-bar {
  width: 330px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: -7px 5px 7px 7px #797979;
  background-color: #fff;
  z-index: 2;
}
.side-bar img {
  height: 32px;
  width: 32px;
  box-shadow: none;
}
.side-bar .side-bar__flex-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-left: 1rem;
  background: none;
  box-shadow: none;
}
.side-bar .side-bar__flex-logo p {
  font-size: 14px;
  color: #5D7285;
}
.side-bar .side-bar__flex-logo p span {
  font-size: 18px;
  font-weight: 600;
  color: #1B3168;
}
.side-bar .side-bar__menu {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1rem;
  box-shadow: none;
}
.side-bar .side-bar__menu .side-bar__menu__flex {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 0.5rem;
  align-items: center;
}
.side-bar .side-bar__menu .side-bar__menu__logout {
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin: 0;
  align-items: center;
  text-decoration: none;
}
.side-bar .side-bar__menu button {
  width: 12rem;
  padding: 2% 5%;
  font-family: "Poppins";
  font-weight: 400;
  color: #666666;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  cursor: pointer;
  background-color: #fff;
  border: none;
  border-radius: 5px;
}
.side-bar .side-bar__menu button p {
  font-size: 14px;
}
.side-bar .side-bar__menu button img {
  height: 24px;
  width: 24px;
}
.side-bar .side-bar__menu button:hover {
  background-color: #F6F6F6;
}
.side-bar .side-bar__menu button:hover path {
  stroke: #1B3168;
}
.side-bar .side-bar__menu button:hover .my_exs {
  fill: #1B3168;
  stroke: none;
}
.side-bar .side-bar__menu button:hover p {
  color: #1B3168;
  font-weight: 600;
}
.side-bar .side-bar__menu .selected {
  color: #1B3168;
  font-weight: 600;
  background-color: #F6F6F6;
}
.side-bar .side-bar__menu .selected-svg {
  stroke: #1B3168;
}
.side-bar .side-bar__menu .selected-svg-fill {
  fill: #1B3168;
}

.main-content {
  width: 100%;
  min-height: 100%;
  max-height: fit-content;
}
.main-content header {
  height: 100px;
  background-color: #fff;
  width: 95%;
  display: flex;
  justify-content: end;
  padding-right: 5%;
  align-items: center;
}
.main-content header button {
  width: 10rem;
  padding: 2% 5%;
  font-family: "Poppins";
  font-weight: 700;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  cursor: pointer;
  background-color: #fff;
  border: none;
  border-radius: 5px;
}
.main-content header button p {
  font-size: 14px;
}
.main-content header button:hover {
  background-color: #F6F6F6;
}
.main-content header button:hover img {
  fill: #1B3168;
}
.main-content header button:hover p {
  color: #1B3168;
}

.header__container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  font-size: 18px;
}
.header__container img {
  height: 64px;
  width: 64px;
  border-radius: 50%;
}

.footer__text {
  margin-left: 2rem;
}

/* ------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------- Connexion ---------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------- */
.connexion {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-left: 2rem;
  height: 84vh;
}
.connexion h1 {
  font-size: 29px;
  color: #1B3168;
  margin-left: 0.5rem;
}
.connexion .connexion__content {
  background-color: #fff;
  padding: 0.5rem 1.3rem;
  border-radius: 7px;
  height: 100%;
}
.connexion .connexion__content p {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 2rem;
}
.connexion .connexion__content p a {
  text-decoration: none;
  color: #1B3168;
}
.connexion .connexion__content form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.connexion .connexion__content form label {
  color: #666666;
  font-weight: 600;
}
.connexion .connexion__content form input {
  width: 20rem;
  padding: 1rem;
  border: 1px solid #F6F6F6;
  border-radius: 5px;
}
.connexion .connexion__content form .connexion__buttons {
  display: flex;
  gap: 2rem;
}
.connexion .connexion__content form .connexion__buttons button {
  padding: 1rem;
  color: #666666;
  cursor: pointer;
  border: none;
}
.connexion .connexion__content form .connexion__buttons .connexion__button-connexion {
  background-color: #F6F6F6;
  border-radius: 8px;
  font-weight: 600;
  width: 11rem;
}
.connexion .connexion__content form .connexion__buttons .connexion__button-pwforget {
  background-color: #fff;
  width: 15rem;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------- Exercices -----------------------------------------------------------------------------*/
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.mathematics {
  margin: 2rem;
  height: fit-content;
}
.mathematics .mathematics__title {
  color: #1B3168;
}
.mathematics .mathematics__content {
  background-color: #fff;
  padding: 0.5rem 3rem 1.5rem;
  height: 90%;
  border-radius: 7px;
}
.mathematics .mathematics__content .mathematics__content-table {
  margin-bottom: 4rem;
}
.mathematics .mathematics__content .mathematics__content-table .mathematics__table {
  width: 100%;
  border: 1px solid #DBDBDB;
  border-collapse: collapse;
}
.mathematics .mathematics__content .mathematics__content-table .mathematics__table .mathematics__table-head {
  background-color: #F0F0F0;
}
.mathematics .mathematics__content .mathematics__content-table .mathematics__table .mathematics__table-row {
  border-radius: 8px;
  border-bottom: 1px solid #DBDBDB;
}
.mathematics .mathematics__content .mathematics__content-table .mathematics__table .mathematics__table-row .mathematics__table-heading {
  color: #464646;
  padding: 0.5rem;
}
.mathematics .mathematics__content .mathematics__content-table .mathematics__table .mathematics__table-row .mathematics__table-data {
  color: #74828F;
  padding: 1rem 0.5rem;
}
.mathematics .mathematics__content .mathematics__content-table .mathematics__table .mathematics__table-row .mathematics__table-heading, .mathematics .mathematics__content .mathematics__content-table .mathematics__table .mathematics__table-row .mathematics__table-data {
  text-align: left;
  font-size: 14px;
  font-weight: 400;
}

.mathematics__pagination {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.mathematics__pagination form {
  display: flex;
}

.link {
  text-decoration: none;
  color: #74828F;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}
.link--row {
  display: inline-flex;
  align-items: end;
  gap: 0.5rem;
}
.link__pagination {
  border: 1px solid #DFE3E8;
  border-radius: 5px;
  padding: 0.5rem 0.75rem;
  color: #222222;
  display: flex;
}
.link__arrow {
  background-color: #919EAB;
}
.link__number {
  border-color: #222222;
}

.name, .thematic {
  width: 20%;
}

.difficulty, .duration, .files, .actions {
  width: 10%;
}

.keywords {
  width: 30%;
}

.wordbreak {
  display: flex;
  flex-wrap: wrap;
}

.keyword {
  background-color: #DBDBDB;
  padding: 0.5rem 0.75rem;
  border-radius: 20px;
  color: #222222;
  margin: 0.25rem;
  width: fit-content;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------- Mes exercices -----------------------------------------------------------------------------*/
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.exercise {
  margin: 2rem;
  height: fit-content;
}
.exercise .exercise__title {
  color: #1B3168;
}
.exercise .exercise__content {
  background-color: #fff;
  padding: 0.5rem 3rem 1.5rem;
  border-radius: 7px;
  height: 90%;
}
.exercise .exercise__content .exercise__content-table {
  margin-bottom: 4rem;
}
.exercise .exercise__content .exercise__content-table .exercise__table {
  width: 100%;
  border: 1px solid #DBDBDB;
  border-collapse: collapse;
}
.exercise .exercise__content .exercise__content-table .exercise__table .exercise__table-head {
  background-color: #F0F0F0;
}
.exercise .exercise__content .exercise__content-table .exercise__table .exercise__table-row {
  border-bottom: 1px solid #DBDBDB;
}
.exercise .exercise__content .exercise__content-table .exercise__table .exercise__table-row .exercise__table-heading {
  color: #464646;
  padding: 0.5rem;
}
.exercise .exercise__content .exercise__content-table .exercise__table .exercise__table-row .exercise__table-data {
  color: #74828F;
  padding: 1rem 0.5rem;
  height: 40px;
}

.exercise__table-heading, .exercise__table-data {
  text-align: left;
  font-size: 14px;
  font-weight: 400;
}

.exercise__form form {
  display: inline-flex;
  align-items: flex-end;
}

.btn {
  border: none;
  cursor: pointer;
}
.btn--bgwhite {
  background-color: #FFF;
}
.btn--lightgrey {
  color: #74828F;
}
.btn--bgdarkgrey {
  color: #F5F5F5;
  background-color: #4F4F4F;
}
.btn--bglightgrey {
  background-color: #F0F0F0;
}
.btn--textgrey {
  color: #4F4F4F;
}
.btn--paddingmodal {
  padding: 1rem 1.5rem;
}
.btn--border-radius {
  border-radius: 8px;
}

/* ------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------- Accueil ----------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------- */
.accueil {
  margin: 2rem;
  height: fit-content;
}
.accueil .accueil__title {
  font-size: 29px;
  color: #1B3168;
  margin-left: 0.5rem;
}
.accueil .accueil__content {
  background-color: #fff;
  padding: 1.5rem 3rem;
  min-height: 68vh;
  max-height: fit-content;
  border-radius: 7px;
  font-size: 18px;
  font-weight: 500;
}
.accueil .accueil__content h2 {
  font-size: 20px;
  font-weight: 600;
}
.accueil .accueil__content ol {
  margin-top: 2rem;
}
.accueil .accueil__content li {
  margin-top: 0.8rem;
}
.accueil .accueil__content b {
  font-weight: 800;
}

/* ------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------- contributors ----------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------- */
.research {
  margin: 2rem;
  height: fit-content;
}
.research .research__title {
  font-size: 29px;
  color: #1B3168;
  margin-left: 0.5rem;
}
.research .research__content {
  background-color: #fff;
  padding: 0.5rem 3rem;
  height: 90%;
  border-radius: 7px;
}
.research .research__content h2 {
  font-size: 20px;
  font-weight: 600;
  font-family: "epilogue";
  color: #1B3168;
  margin-top: 2.5rem;
}
.research .research__content form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.research .research__content form div {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 25%;
}
.research .research__content form div label {
  color: #666666;
  font-family: "Noto sans";
  font-weight: 600;
}
.research .research__content form div select, .research .research__content form div input {
  height: 56px;
  width: 80%;
  padding: 0 16px;
  border-radius: 8px;
  border: solid 2px #DBDBDB;
  color: #666666;
  font-family: "Noto sans";
  font-weight: 600;
}
.research .research__content form div button {
  height: 56px;
  width: 70%;
  border-radius: 8px;
  border: solid 2px #F6F6F6;
  background-color: #F6F6F6;
  color: #666666;
  font-family: "Noto sans";
  font-weight: 600;
  margin-top: 18px;
}
.research .research__content .research__table {
  width: 100%;
}
.research .research__content .research__table, .research .research__content .research__table-head {
  border: 1px solid #DBDBDB;
  border-collapse: collapse;
}
.research .research__content .research__table-head {
  background-color: #F0F0F0;
}
.research .research__content .research__table-row {
  border-radius: 8px;
}
.research .research__content .research__table-row .research__table-heading {
  color: #464646;
  padding: 0.5rem;
  width: 20%;
}
.research .research__content .research__table-row .research__table-heading.nom {
  width: 30%;
}
.research .research__content .research__table-row .research__table-heading.difficulte {
  width: 10%;
}
.research .research__content .research__table-row .research__table-heading.mots-cles {
  width: 30%;
}
.research .research__content .research__table-row .research__table-heading.duree {
  width: 10%;
}
.research .research__content .research__table-row .research__table-heading.fichiers {
  width: 20%;
}
.research .research__content .research__table-row .research__table-data {
  color: #74828F;
  padding: 1rem 0.5rem;
}
.research .research__content .research__table-row .research__table-data.file-container {
  display: flex;
  gap: 1rem;
}
.research .research__content .research__table-row .research__table-file {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  flex-direction: row;
}
.research .research__content .research__table-row .research__table-file a {
  text-decoration: none;
  color: #74828F;
}
.research .research__content .research__table-row .research__table-file a:hover {
  color: #666666;
}
.research .research__content .research__table-row .research__table-heading, .research .research__content .research__table-row .research__table-data {
  text-align: left;
  font-size: 14px;
  font-weight: 400;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------- Admin ---------------------------------------------------------------------------------*/
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.administration {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-left: 2.5%;
}
.administration h1 {
  font-size: 29px;
  color: #1B3168;
}
.administration .administration__content {
  display: flex;
  flex-direction: column;
}
.administration .administration__content .administration__head-bar {
  display: flex;
  flex-direction: row;
  gap: 2%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.administration .administration__content .administration__head-bar a {
  border-radius: 7px 7px 0 0;
  padding: 0.5rem 2%;
  cursor: pointer;
  border: none;
  background-color: #455884;
  color: white;
  text-decoration: none;
  font-family: "Noto sans";
}
.administration .administration__content .administration__head-bar a:hover {
  background-color: #1B3168;
}
.administration .administration__content .administration__gestion {
  background-color: #fff;
  padding: 0.5rem 3rem;
  height: 90%;
  border-radius: 0 7px 7px 7px;
}

.contributors {
  display: flex;
  flex-direction: column;
}
.contributors h2 {
  font-size: 20px;
  font-weight: 700;
  font-family: "Noto sans";
  margin-top: 2.5rem;
}
.contributors .contributors__description {
  margin: 0;
  font-family: "Noto sans";
}
.contributors .contributors__action-bar {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 100%;
}
.contributors .contributors__action-bar form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}
.contributors .contributors__action-bar form input {
  height: 56px;
  width: 50%;
  padding: 0 16px;
  border-radius: 8px;
  border: solid 2px #DBDBDB;
  color: #666666;
  font-family: "Noto sans";
  font-weight: 600;
}
.contributors .contributors__action-bar form button {
  height: 56px;
  width: 30%;
  border-radius: 8px;
  border: solid 2px #F6F6F6;
  background-color: #F6F6F6;
  color: #666666;
  font-family: "Noto sans";
  font-weight: 700;
}
.contributors .contributors__action-bar a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  text-decoration: none;
}
.contributors .contributors__action-bar a button {
  height: 56px;
  width: 70%;
  border-radius: 8px;
  border: solid 2px #52B788;
  background-color: #52B788;
  color: #FFFFFF;
  font-family: "Noto sans";
  font-weight: 700;
}
.contributors table {
  margin-top: 1rem;
  width: 100%;
}
.contributors table, .contributors thead {
  border: 1px solid #DBDBDB;
  border-collapse: collapse;
}
.contributors thead {
  background-color: #F0F0F0;
}
.contributors tr {
  border-radius: 8px;
}
.contributors tr th {
  color: #464646;
  padding: 0.5rem;
  width: 20%;
}
.contributors tr td {
  color: #74828F;
  padding: 1rem 0.5rem;
}
.contributors tr td button {
  width: 10rem;
  padding: 2% 5%;
  font-family: "Poppins";
  font-weight: 700;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  cursor: pointer;
  background-color: #fff;
  border: none;
  border-radius: 5px;
}
.contributors tr td button:hover {
  background-color: #F6F6F6;
}
.contributors tr td button:hover img {
  fill: #1B3168;
}
.contributors tr td button:hover p {
  color: #1B3168;
}
.contributors tr th, .contributors tr td {
  text-align: left;
  font-size: 14px;
  font-weight: 400;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------- submit ---------------------------------------------------------------------------------*/
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.submit {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-left: 2.5%;
}
.submit button {
  cursor: pointer;
}
.submit h1 {
  font-size: 29px;
  color: #1B3168;
}
.submit .submit__head-bar {
  display: flex;
  flex-direction: row;
  gap: 2%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.submit .submit__head-bar button {
  border-radius: 7px 7px 0 0;
  padding: 0.5rem 2%;
  cursor: pointer;
  border: none;
  background-color: #455884;
  color: white;
  font-family: "Noto sans";
}
.submit .submit__head-bar button:hover {
  background-color: #1B3168;
}
.submit form {
  width: 100%;
}
.submit .submit__content {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 0.5rem 3rem;
  height: 90%;
  border-radius: 7px;
}
.submit .submit__content h2 {
  font-family: "noto sans";
}
.submit .submit__content form {
  width: 100%;
}
.submit .submit__content .submit__information__flex {
  display: flex;
  flex-direction: row;
  gap: 5%;
  justify-content: left;
  width: 100%;
}
.submit .submit__content .submit__information__flex div {
  width: 45%;
}
.submit .submit__content .submit__information__flex div select {
  width: 105% !important;
}
.submit .submit__content .submit__source {
  display: none;
}
.submit .submit__content .submit__source textarea {
  height: 10rem;
}
.submit .submit__content .submit__file {
  display: none;
}
.submit .submit__content label {
  color: #666666;
  font-family: "Noto sans";
  font-weight: 600;
}
.submit .submit__content label input {
  display: none;
}
.submit .submit__content label div {
  height: 56px;
  width: 95%;
  padding: 0 16px;
  border-radius: 8px;
  border: solid 2px #DBDBDB;
  color: #666666;
  font-family: "Noto sans";
  font-weight: 600;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}
.submit .submit__content label div img {
  height: 32px;
  width: 32px;
  margin: 1%;
}
.submit .submit__content textarea, .submit .submit__content select, .submit .submit__content input {
  height: 56px;
  width: 95%;
  padding: 0 16px;
  border-radius: 8px;
  border: solid 2px #DBDBDB;
  color: #666666;
  font-family: "Noto sans";
  font-weight: 600;
  margin-bottom: 2rem;
}
.submit .submit__content button {
  height: 56px;
  width: 25%;
  border-radius: 8px;
  border: solid 2px #F6F6F6;
  background-color: #F6F6F6;
  color: #666666;
  font-family: "Noto sans";
  font-weight: 600;
  margin-top: 18px;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------- Modal ------------------------------------------------------------------------------*/
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.modal__container {
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  transition: visibility 0.4s;
  z-index: 100;
}
.modal__container--active {
  display: block;
  visibility: visible;
}
.modal__container--active .overlay {
  opacity: 1;
  transition: opacity 0.4s 0.2s ease-out;
}
.modal__container--active .modal {
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: opacity 0.4s 0.2s ease-out, transform 0.4s 0.2s ease-out;
}

.overlay {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.1490196078);
}

.modal {
  opacity: 0;
  width: 95%;
  max-width: 500px;
  min-width: 300px;
  padding: 1rem;
  background: #fff;
  border-radius: 8px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 50px));
  z-index: 98;
}

.close__modal {
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: none;
}
.close__modal svg {
  background: #E5E5E5;
  border-radius: 50%;
  padding: 0.5rem;
}

.modal__header {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  width: 90%;
  margin: 0.5rem auto 1rem auto;
}
.modal__header .modal__images {
  background-color: #F0F0F0;
  padding: 0.75rem;
  border-radius: 8px;
}
.modal__header .modal__textContainer {
  display: flex;
  flex-direction: column;
  line-height: 2;
}
.modal__header .modal__textContainer #modal__title {
  font-size: 20px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  margin: 0;
}
.modal__header .modal__textContainer #modal__paragraph {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  color: rgba(84, 89, 94, 0.6);
  margin: 0;
}

.modal__buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 90%;
  margin: 0 auto 1rem auto;
}
.modal__buttons .btn {
  width: 50%;
}

/*# sourceMappingURL=style.css.map */
