
:root{
    --textBlue:#1B3168;
    --textGrey:#666666;
    --titleSize: 29px;
    --descSize: 16px;
}

body{
    margin: 0;
}

.main--flex{
    min-height: 100vh;
    max-height: fit-content;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #eef2f4;
    font-family: 'Epilogue';
}

.side-bar{
    width: 300px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow:  -7px 5px 7px 7px  #797979;
    background-color: #fff;
    z-index: 2;

    img{
        height: 32px;
        width: 32px;
        box-shadow:none;
    }
   
    .side-bar__flex-logo{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        margin-left: 1rem;
       
        background: none;
        box-shadow:none;


        & p{
            font-size: 14px;
            color: #5D7285;

            & span{
                font-size: 18px;
                font-weight: 600;
                color: #1B3168;
            }
        }
    }

    .side-bar__menu{
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 1rem;
        box-shadow:none;

        .side-bar__menu__flex{
            display: flex;
            flex-direction: column;
            justify-content: start;
            gap: 0.5rem;
            align-items: center;
        }

        .side-bar__menu__logout{
            display: flex;
            flex-direction: column;
            height: fit-content;
            margin: 0;
            align-items: center;
            text-decoration: none;
        }

        button{
            width: 12rem;
            padding: 2% 5%;
            font-family: 'Poppins';
            font-weight: 700;

            display: flex;
            flex-direction: row;
            gap: 2rem;
            align-items: center;


            cursor: pointer;
            background-color: #fff;
            border: none;
            border-radius: 5px;

            p{
                font-size: 14px;
            }

            img{
                height: 24px;
                width: 24px;
            }

            &:hover{
                background-color: #F6F6F6;
               
                img{
                   fill:#1B3168;
                }

                p{
                    color: #1B3168;
                }
            }
        }
    }
}

.main-content{
    width: 100%;
    min-height: 100%;
    max-height: fit-content;

    header{
        height: 100px;
        background-color: #fff;
        width: 95%;
        display: flex;
        justify-content: end;
        padding-right: 5%;
        align-items: center;

        button{
            width: 10rem;
            padding: 2% 5%;
            font-family: 'Poppins';
            font-weight: 700;
            display: flex;
            flex-direction: row;
            gap: 2rem;
            align-items: center;
            cursor: pointer;
            background-color: #fff;
            border: none;
            border-radius: 5px;

            p{
                font-size: 14px;
            }

            &:hover{
                background-color: #F6F6F6;
               
                img{
                   fill:#1B3168;
                }

                p{
                    color: #1B3168;
                }
            }
        }
    }
}

.header__container{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    font-size: 18px;

    img{
        height: 64px;
        width: 64px;
        border-radius: 50%;
    }
}

.footer__text{
    margin-left: 2rem;
   
}



/* ------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------- Connexion ---------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------- */

.connexion{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-left: 2rem;
    height: 84vh;

    & h1{
        font-size: var(--titleSize);
        color: var(--textBlue);
        margin-left: 0.5rem;
    }

    .connexion__content{

        background-color: #fff;
        padding: 0.5rem 1.3rem;
        border-radius: 7px;
        height: 100%;

        & p {
            font-size: var(--descSize);
            font-weight: 600;
            padding-bottom: 2rem;

            & a {
                text-decoration: none;
                color: var(--textBlue);
            }
        }

        .connexion__errormsg {
            margin-top: 0;
            color: red;
            font-weight: 600;
        }

        & form{
            display: flex;
            flex-direction: column;
            gap: 1rem;

            & label {
                color: var(--textGrey);
                font-weight: 600;
            }

            & input{
                width: 20rem;
                padding: 1rem;
                border: 1px solid #F6F6F6;
                border-radius: 5px;
            }

            & .connexion__buttons {

                display: flex;
                gap: 2rem;

                & button{
                    padding: 1rem;
                    color: #666666;
                    cursor: pointer;
                    border: none;
                }

                & .connexion__button-connexion {
                    background-color: #F6F6F6;
                    border-radius: 8px;
                    font-weight: 600;
                    width: 11rem;
                }

                & .connexion__button-pwforget {
                    background-color: #fff;
                    width: 15rem;
                }
            }
        }
    }
}


/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------- Exercices -----------------------------------------------------------------------------*/
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


.mathematics
{
    margin: 2rem;

    .mathematics__title
    {
        color: var(--textBlue);
    }
    .mathematics__content
    {
        background-color: #fff;
        padding: 0.5rem 3rem 1.5rem;
        height: 90%;
        border-radius: 7px;

        .mathematics__description
        {
            font-size: 22px;
        }

        .mathematics__table
        {
            width: 100%;

        }
        .mathematics__table, .mathematics__table-head
        {
            border: 1px solid #DBDBDB;
            border-collapse: collapse;
        }
        .mathematics__table-head
        {
            background-color: #F0F0F0;
        }
        .mathematics__table-row
        {
            border-radius: 8px;

            .mathematics__table-heading
            {
                color: #464646;
                padding: 0.5rem;
                width: 20%;

                &:first-child
                {
                    width: 25%;
                }

            }
            .mathematics__table-data
            {
                color: #74828F;
                padding: 1rem 0.5rem;
            }
            .mathematics__table-heading, .mathematics__table-data
            {

                text-align: left;
                font-size: 14px;
                font-weight: 400;
            }
        }



    }


}


/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------- Mes exercices -----------------------------------------------------------------------------*/
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


.exercices
{
    margin: 2rem;
    height: 81vh;
  

    .exercices__title
    {
        font-size: var(--titleSize);
        color: var(--textBlue);
        margin-left: 0.5rem;
    }
    .exercices__content
    {
        background-color: #fff;
        padding: 0.5rem 3rem;
        height: 90%;
        border-radius: 7px;

        .exercices__description
        {
            font-size: 22px;
        }

        .exercices__table
        {
            width: 100%;
            
        }

        .exercices__table, .exercices__table-head
        {
            border: 1px solid #DBDBDB;
            border-collapse: collapse;
        }

        .exercices__table-head
        {
            background-color: #F0F0F0;
        }

        .exercices__table-row
        {
            border-radius: 8px;
            
            .exercices__table-heading
            {
                color: #464646; 
                padding: 0.5rem;
                width: 20%;
                
                &:first-child
                {
                    width: 25%;
                }
            }

            .exercices__table-data
            { 
                color: #74828F;
                padding: 1rem 0.5rem;   
            }

            .exercices__table-heading, .exercices__table-data
            {
                text-align: left;
                font-size: 14px;
                font-weight: 400;
            }
        }
    }
}



/* ------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------- Accueil ----------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------- */

.accueil
{
    margin: 2rem ;
    height: fit-content;
  

    .accueil__title
    {
        font-size: var(--titleSize);
        color: var(--textBlue);
        margin-left: 0.5rem;
    }
    .accueil__content
    {
        background-color: #fff;
        padding: 1.5rem 3rem;
        height: fit-content;
        border-radius: 7px;
        font-size: var(--descSize);
        
        h2{
            font-size: 20px;
            font-weight: 400;
        }

    }
}


/* ------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------- Recherche ----------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------- */

.recherche
{
    margin: 2rem ;
    height: fit-content;
  

    .recherche__title
    {
        font-size: var(--titleSize);
        color: var(--textBlue);
        margin-left: 0.5rem;
    }
    .recherche__content
    {
        background-color: #fff;
        padding: 1.5rem 3rem;
        height: fit-content;
        border-radius: 7px;
        font-size: var(--descSize);
        
        h2{
            font-size: 20px;
            font-weight: 600;
            font-family: 'epilogue';
            color: var(--textBlue);
            margin-top: 2.5rem;
        }

        form{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;

            div{
                display: flex;
                flex-direction: column;
                justify-content: end;
                width: 25%;

                label{
                    color: var(--textGrey);
                    font-family: 'Noto sans';
                    font-weight: 600;
                }

                select, input{
                    height: 56px;
                    width: 80%;
                    padding: 0 16px;
                    border-radius: 8px;
                    border: solid 2px #DBDBDB;
                    color: var(--textGrey);
                    font-family: 'Noto sans';
                    font-weight: 600;
                }

                button{
                    height: 56px;
                    width: 70%;
                    border-radius: 8px;
                    border: solid 2px #F6F6F6;
                    background-color: #F6F6F6;
                    color: var(--textGrey);
                    font-family: 'Noto sans';
                    font-weight: 600;
                    margin-top: 18px;
                }
            }
        }



        .recherche__table
        {
            width: 100%;
        }

        .recherche__table, .recherche__table-head
        {
            border: 1px solid #DBDBDB;
            border-collapse: collapse;
        }

        .recherche__table-head
        {
            background-color: #F0F0F0;
        }

        .recherche__table-row
        {
            border-radius: 8px;
            
            .recherche__table-heading
            {
                color: #464646; 
                padding: 0.5rem;
                width: 20%;
                
                

                &.nom{
                    width: 30%;
                }

                &.difficulte{
                    width: 10%;
                }

                &.mots-cles{
                    width: 30%;
                }

                &.duree{
                    width: 10%;
                }

                &.fichiers{
                    width: 20%;
                }
            }

            .recherche__table-data
            { 
                color: #74828F;
                padding: 1rem 0.5rem;   
            }

            .recherche__table-heading, .recherche__table-data
            {
                text-align: left;
                font-size: 14px;
                font-weight: 400;
            }
        }

    }
}




/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------- Admin ---------------------------------------------------------------------------------*/
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


.administration {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-left: 2rem;

    & h1 {
        font-size: var(--titleSize);
        color: var(--textBlue);
    }

    .administration__content {
        display: flex;
        flex-direction: column;

        & ul {
            display: flex;
            flex-direction: row;
            gap: 1.25rem;
            list-style-type: none;
            padding-left: 0;
            margin: 0;

            & button {
                border-radius: 7px 7px 0 0;
                padding: 0.75rem 2.5rem;
                cursor: pointer;
                border: none;
                background-color: #455884;
                color: white;
            }

            & button:hover {
                background-color: var(--textBlue);
            }
        }

        .administration__gestion {
            display: flex;
            flex-direction: column;
            background-color: white;
            width: 100%;
        }
    }
}

.contributeurs {
    display: flex;
    flex-direction: column;

    & th {
        text-align: left;
    }

}